USE [thienhaso_Eco_EduVn_Public]
GO
/****** Object:  Table [dbo].[SIM_Class]    Script Date: 20/08/2026 20:42:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIM_Class](
	[DataGroupID] [int] NOT NULL,
	[ClassID] [nvarchar](50) NOT NULL,
	[ClassName] [nvarchar](500) NOT NULL,
	[ClassShortName] [nvarchar](100) NULL,
	[RegulationID] [int] NOT NULL,
	[ScienceID] [nvarchar](50) NULL,
	[BranchID] [nvarchar](50) NULL,
	[SpecialBranchID] [nvarchar](50) NULL,
	[TrainingLevelID] [nvarchar](50) NULL,
	[TrainingType] [nvarchar](50) NULL,
	[CourseID] [nvarchar](50) NULL,
	[ClassSize] [int] NOT NULL,
	[ClassType] [tinyint] NOT NULL,
	[ClassSubjectID] [bigint] NULL,
	[SubjectUsedID] [nvarchar](50) NULL,
	[StartAt] [datetime] NULL,
	[FinishAt] [datetime] NULL,
	[IsActived] [bit] NOT NULL,
	[GroupSmallClass] [tinyint] NULL,
	[SpecialBranchSubjectID] [int] NOT NULL,
	[ManagerTeacherID] [nvarchar](50) NULL,
	[IsCollecting] [bit] NOT NULL,
	[IsRegulation43] [bit] NULL,
	[UnitTextOfCourse] [int] NOT NULL,
	[IsTempClass] [bit] NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_SIM_Class] PRIMARY KEY CLUSTERED 
(
	[DataGroupID] ASC,
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIM_Class_Subject]    Script Date: 20/08/2026 20:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIM_Class_Subject](
	[DataGroupID] [int] NOT NULL,
	[ClassSubjectID] [bigint] NOT NULL,
	[Semester] [tinyint] NOT NULL,
	[YearID] [int] NOT NULL,
	[ClassID] [nvarchar](50) NOT NULL,
	[SubjectID] [nvarchar](50) NOT NULL,
	[TheoryQuantity] [int] NOT NULL,
	[PracticeQuantity] [int] NOT NULL,
	[TestQuantity] [int] NOT NULL,
	[UnitText] [tinyint] NULL,
	[TeachingBy] [nvarchar](50) NULL,
	[ClassSubjectStatus] [tinyint] NOT NULL,
	[ClassSubjectStatusType] [tinyint] NOT NULL,
	[BigClassID] [nvarchar](50) NULL,
	[OrderIndex] [bigint] NOT NULL,
	[IsLockedMark] [bit] NOT NULL,
	[IsLockedExam1] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedUser] [nvarchar](50) NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [nvarchar](50) NULL,
	[MeetingLink] [varchar](100) NULL,
	[MeetingCode] [varchar](20) NULL,
 CONSTRAINT [PK_SIM_Class_Subject] PRIMARY KEY CLUSTERED 
(
	[DataGroupID] ASC,
	[ClassSubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIM_Course]    Script Date: 20/08/2026 20:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIM_Course](
	[DataGroupID] [int] NOT NULL,
	[CourseID] [nvarchar](50) NOT NULL,
	[CourseName] [nvarchar](500) NOT NULL,
	[StartYear] [int] NOT NULL,
	[FinishYear] [int] NOT NULL,
	[IsActived] [bit] NOT NULL,
 CONSTRAINT [PK_SIM_Course] PRIMARY KEY CLUSTERED 
(
	[DataGroupID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIM_Science]    Script Date: 20/08/2026 20:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIM_Science](
	[DataGroupID] [int] NOT NULL,
	[ScienceID] [nvarchar](50) NOT NULL,
	[ScienceName] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_SIM_Science] PRIMARY KEY CLUSTERED 
(
	[DataGroupID] ASC,
	[ScienceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIM_Subject]    Script Date: 20/08/2026 20:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIM_Subject](
	[DataGroupID] [int] NOT NULL,
	[SubjectID] [nvarchar](50) NOT NULL,
	[SubjectName] [nvarchar](500) NOT NULL,
	[SubjectShortName] [nvarchar](100) NOT NULL,
	[SubjectGroupID] [nvarchar](50) NOT NULL,
	[TheoryQuantity] [int] NOT NULL,
	[PracticeQuantity] [int] NOT NULL,
	[TestQuantity] [int] NULL,
	[UnitText] [tinyint] NOT NULL,
 CONSTRAINT [PK_SIM_Subject] PRIMARY KEY CLUSTERED 
(
	[DataGroupID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIM_SubjectGroup]    Script Date: 20/08/2026 20:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIM_SubjectGroup](
	[DataGroupID] [int] NOT NULL,
	[SubjectGroupID] [nvarchar](50) NOT NULL,
	[SubjectGroupName] [nvarchar](500) NOT NULL,
	[ScienceID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SIM_SubjectGroup] PRIMARY KEY CLUSTERED 
(
	[DataGroupID] ASC,
	[SubjectGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIM_Teacher]    Script Date: 20/08/2026 20:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIM_Teacher](
	[DataGroupID] [int] NOT NULL,
	[TeacherID] [nvarchar](50) NOT NULL,
	[TeacherFirstName] [nvarchar](100) NOT NULL,
	[TeacherLastName] [nvarchar](100) NOT NULL,
	[TeacherShortName] [nvarchar](100) NULL,
	[SubjectGroupID] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_SIM_Teacher] PRIMARY KEY CLUSTERED 
(
	[DataGroupID] ASC,
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIM_Year]    Script Date: 20/08/2026 20:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIM_Year](
	[DataGroupID] [int] NOT NULL,
	[YearID] [int] NOT NULL,
	[YearName] [nvarchar](50) NOT NULL,
	[StartAt] [datetime] NULL,
	[FinishAt] [datetime] NULL,
 CONSTRAINT [PK_SIM_Year] PRIMARY KEY CLUSTERED 
(
	[DataGroupID] ASC,
	[YearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_Permission]    Script Date: 20/08/2026 20:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_Permission](
	[PermissionID] [nvarchar](50) NOT NULL,
	[PermissionName] [nvarchar](100) NOT NULL,
	[PermissionCategoryID] [int] NOT NULL,
	[PermissionGroupID] [nvarchar](50) NULL,
	[IsOfUserStore] [bit] NOT NULL,
	[IsOfUserCategory] [bit] NOT NULL,
	[IsActived] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](20) NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [nvarchar](20) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedUser] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_Permission] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_PermissionCategory]    Script Date: 20/08/2026 20:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_PermissionCategory](
	[PermissionCategoryID] [int] NOT NULL,
	[PermissionCategoryName] [nvarchar](100) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[IsActived] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](20) NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [nvarchar](20) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedUser] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_PermissionCategory] PRIMARY KEY CLUSTERED 
(
	[PermissionCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_PermissionGroup]    Script Date: 20/08/2026 20:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_PermissionGroup](
	[PermissionGroupID] [nvarchar](50) NOT NULL,
	[PermissionGroupName] [nvarchar](100) NOT NULL,
	[PermissionCategoryID] [int] NOT NULL,
 CONSTRAINT [PK_SYS_PermissionGroup] PRIMARY KEY CLUSTERED 
(
	[PermissionGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_Role]    Script Date: 20/08/2026 20:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IsDefault] [bit] NOT NULL,
	[IsActived] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](20) NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [nvarchar](20) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedUser] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_Role_Permission]    Script Date: 20/08/2026 20:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_Role_Permission](
	[RoleID] [int] NOT NULL,
	[PermissionID] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_SYS_UserPermission] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_User]    Script Date: 20/08/2026 20:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_User](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Fullname] [nvarchar](50) NULL,
	[FullnameEn] [varchar](50) NULL,
	[Gender] [bit] NOT NULL,
	[BirthDay] [int] NULL,
	[BirthMonth] [int] NULL,
	[BirthYear] [int] NULL,
	[BirthDateText] [varchar](10) NULL,
	[Address] [nvarchar](1000) NULL,
	[Email] [nvarchar](100) NULL,
	[Tel] [varchar](50) NULL,
	[Mobi] [varchar](50) NULL,
	[PersonID] [varchar](10) NULL,
	[PersonIDDate] [datetime] NULL,
	[PersonIDPlace] [nvarchar](50) NULL,
	[TaxCode] [nvarchar](50) NULL,
	[BankAccountNo] [nvarchar](50) NULL,
	[BankAccountName] [nvarchar](100) NULL,
	[Bank] [nvarchar](500) NULL,
	[PositionID] [int] NOT NULL,
	[Presenter] [varchar](50) NOT NULL,
	[Manager] [varchar](50) NOT NULL,
	[RequestForgotDate] [datetime] NULL,
	[RequestForgotKey] [nvarchar](500) NULL,
	[Avatar] [nvarchar](200) NULL,
	[DepartmentID] [bigint] NOT NULL,
	[DataGroupID] [int] NOT NULL,
	[IsAdminOfDataGroup] [bit] NOT NULL,
	[IsSystemUser] [bit] NOT NULL,
	[IsTeacher] [bit] NOT NULL,
	[IsExpert] [bit] NOT NULL,
	[IsStudent] [bit] NOT NULL,
	[StudentID] [bigint] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IsActived] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [varchar](50) NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](50) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedUser] [varchar](50) NULL,
	[UserToken] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SYS_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_User_Role]    Script Date: 20/08/2026 20:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_User_Role](
	[Username] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_UserFunction] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_DataGroupID]  DEFAULT ((0)) FOR [DataGroupID]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_RegulationID]  DEFAULT ((0)) FOR [RegulationID]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_ScienceID]  DEFAULT ((0)) FOR [ScienceID]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_BranchID]  DEFAULT ((0)) FOR [BranchID]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_SpecialBranchID]  DEFAULT ((0)) FOR [SpecialBranchID]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_TrainingLevelID]  DEFAULT ((0)) FOR [TrainingLevelID]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_CourseID]  DEFAULT ((0)) FOR [CourseID]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_ClassType]  DEFAULT ((0)) FOR [ClassType]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_ClassSubjectID]  DEFAULT ((0)) FOR [ClassSubjectID]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_SubjectUsedID]  DEFAULT ((0)) FOR [SubjectUsedID]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_IsActived]  DEFAULT ((1)) FOR [IsActived]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_GroupSmallClass]  DEFAULT ((0)) FOR [GroupSmallClass]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_SpecialBranchSubjectID]  DEFAULT ((0)) FOR [SpecialBranchSubjectID]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_ManagerTeacherID]  DEFAULT ((0)) FOR [ManagerTeacherID]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_IsCollecting]  DEFAULT ((0)) FOR [IsCollecting]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_IsRegulation43]  DEFAULT ((0)) FOR [IsRegulation43]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_UnitTextOfCourse]  DEFAULT ((0)) FOR [UnitTextOfCourse]
GO
ALTER TABLE [dbo].[SIM_Class] ADD  CONSTRAINT [DF_SIM_Class_IsTempClass]  DEFAULT ((0)) FOR [IsTempClass]
GO
ALTER TABLE [dbo].[SIM_Class_Subject] ADD  CONSTRAINT [DF_SIM_Class_Subject_DataGroupID]  DEFAULT ((0)) FOR [DataGroupID]
GO
ALTER TABLE [dbo].[SIM_Class_Subject] ADD  CONSTRAINT [DF_SIM_Class_Subject_TheoryQuantity]  DEFAULT ((0)) FOR [TheoryQuantity]
GO
ALTER TABLE [dbo].[SIM_Class_Subject] ADD  CONSTRAINT [DF_SIM_Class_Subject_PracticeQuantity]  DEFAULT ((0)) FOR [PracticeQuantity]
GO
ALTER TABLE [dbo].[SIM_Class_Subject] ADD  CONSTRAINT [DF_SIM_Class_Subject_TestQuantity]  DEFAULT ((0)) FOR [TestQuantity]
GO
ALTER TABLE [dbo].[SIM_Class_Subject] ADD  CONSTRAINT [DF_SIM_Class_Subject_ClassSubjectStatus]  DEFAULT ((0)) FOR [ClassSubjectStatus]
GO
ALTER TABLE [dbo].[SIM_Class_Subject] ADD  CONSTRAINT [DF_SIM_Class_Subject_ClassSubjectStatusType]  DEFAULT ((0)) FOR [ClassSubjectStatusType]
GO
ALTER TABLE [dbo].[SIM_Class_Subject] ADD  CONSTRAINT [DF_SIM_Class_Subject_OrderIndex]  DEFAULT ((0)) FOR [OrderIndex]
GO
ALTER TABLE [dbo].[SIM_Class_Subject] ADD  CONSTRAINT [DF_SIM_Class_Subject_IsLockedMark]  DEFAULT ((0)) FOR [IsLockedMark]
GO
ALTER TABLE [dbo].[SIM_Class_Subject] ADD  CONSTRAINT [DF_SIM_Class_Subject_IsLockedExam1]  DEFAULT ((0)) FOR [IsLockedExam1]
GO
ALTER TABLE [dbo].[SIM_Class_Subject] ADD  CONSTRAINT [DF_SIM_Class_Subject_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[SIM_Class_Subject] ADD  CONSTRAINT [DF_SIM_Class_Subject_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SIM_Class_Subject] ADD  CONSTRAINT [DF_SIM_Class_Subject_CreatedUser]  DEFAULT (N'admin') FOR [CreatedUser]
GO
ALTER TABLE [dbo].[SIM_Course] ADD  CONSTRAINT [DF_SIM_Course_DataGroupID]  DEFAULT ((0)) FOR [DataGroupID]
GO
ALTER TABLE [dbo].[SIM_Course] ADD  CONSTRAINT [DF_SIM_Course_IsActived]  DEFAULT ((1)) FOR [IsActived]
GO
ALTER TABLE [dbo].[SIM_Science] ADD  CONSTRAINT [DF_SIM_Science_DataGroupID]  DEFAULT ((0)) FOR [DataGroupID]
GO
ALTER TABLE [dbo].[SIM_Subject] ADD  CONSTRAINT [DF_SIM_Subject_DataGroupID]  DEFAULT ((0)) FOR [DataGroupID]
GO
ALTER TABLE [dbo].[SIM_Subject] ADD  CONSTRAINT [DF_SIM_Subject_TheoryQuantity]  DEFAULT ((0)) FOR [TheoryQuantity]
GO
ALTER TABLE [dbo].[SIM_Subject] ADD  CONSTRAINT [DF_SIM_Subject_PracticeQuantity]  DEFAULT ((0)) FOR [PracticeQuantity]
GO
ALTER TABLE [dbo].[SIM_Subject] ADD  CONSTRAINT [DF_SIM_Subject_UnitText]  DEFAULT ((0)) FOR [UnitText]
GO
ALTER TABLE [dbo].[SIM_SubjectGroup] ADD  CONSTRAINT [DF_SIM_SubjectGroup_DataGroupID]  DEFAULT ((0)) FOR [DataGroupID]
GO
ALTER TABLE [dbo].[SIM_Teacher] ADD  CONSTRAINT [DF_SIM_Teacher_DataGroupID]  DEFAULT ((0)) FOR [DataGroupID]
GO
ALTER TABLE [dbo].[SIM_Year] ADD  CONSTRAINT [DF_SIM_Year_DataGroupID]  DEFAULT ((0)) FOR [DataGroupID]
GO
ALTER TABLE [dbo].[SYS_Permission] ADD  CONSTRAINT [DF_SYS_Permission_PermissionCategoryID]  DEFAULT ((1)) FOR [PermissionCategoryID]
GO
ALTER TABLE [dbo].[SYS_Permission] ADD  CONSTRAINT [DF_SYS_Permission_IsOfUserStore]  DEFAULT ((0)) FOR [IsOfUserStore]
GO
ALTER TABLE [dbo].[SYS_Permission] ADD  CONSTRAINT [DF_SYS_Permission_IsOfUserCategory]  DEFAULT ((0)) FOR [IsOfUserCategory]
GO
ALTER TABLE [dbo].[SYS_Permission] ADD  CONSTRAINT [DF_SYS_Permission_IsActived_1]  DEFAULT ((1)) FOR [IsActived]
GO
ALTER TABLE [dbo].[SYS_Permission] ADD  CONSTRAINT [DF_SYS_Permission_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SYS_Permission] ADD  CONSTRAINT [DF_SYS_Permission_CreatedUser]  DEFAULT (N'administrator') FOR [CreatedUser]
GO
ALTER TABLE [dbo].[SYS_Permission] ADD  CONSTRAINT [DF_SYS_Permission_IsDeleted_1]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SYS_PermissionCategory] ADD  CONSTRAINT [DF_SYS_PermissionCategory_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[SYS_PermissionCategory] ADD  CONSTRAINT [DF_SYS_PermissionCategory_IsActived]  DEFAULT ((1)) FOR [IsActived]
GO
ALTER TABLE [dbo].[SYS_PermissionCategory] ADD  CONSTRAINT [DF_SYS_PermissionCategory_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SYS_PermissionCategory] ADD  CONSTRAINT [DF_SYS_PermissionCategory_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SYS_Role] ADD  CONSTRAINT [DF_SYS_Role_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[SYS_Role] ADD  CONSTRAINT [DF_SYS_Role_IsActived]  DEFAULT ((1)) FOR [IsActived]
GO
ALTER TABLE [dbo].[SYS_Role] ADD  CONSTRAINT [DF_SYS_Role_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SYS_Role] ADD  CONSTRAINT [DF_SYS_Role_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SYS_Role_Permission] ADD  CONSTRAINT [DF_SYS_Role_Permission_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_Gender_1]  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_PositionID]  DEFAULT ((1)) FOR [PositionID]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_PositionID1]  DEFAULT ('administrator') FOR [Presenter]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_Presenter1]  DEFAULT ('administrator') FOR [Manager]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_DepartmentID]  DEFAULT ((0)) FOR [DepartmentID]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_DataGroupID]  DEFAULT ((1)) FOR [DataGroupID]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_IsAdminOfDataGroup]  DEFAULT ((0)) FOR [IsAdminOfDataGroup]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_IsSystemUser]  DEFAULT ((0)) FOR [IsSystemUser]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_IsTeacher]  DEFAULT ((0)) FOR [IsTeacher]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_IsExpert]  DEFAULT ((0)) FOR [IsExpert]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_IsStudent]  DEFAULT ((0)) FOR [IsStudent]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_StudentID]  DEFAULT ((0)) FOR [StudentID]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_IsActived_1]  DEFAULT ((1)) FOR [IsActived]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_CreatedUser]  DEFAULT (N'administrator') FOR [CreatedUser]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SYS_User] ADD  CONSTRAINT [DF_SYS_User_UserToken]  DEFAULT (newsequentialid()) FOR [UserToken]
GO
ALTER TABLE [dbo].[SYS_User_Role] ADD  CONSTRAINT [DF_SYS_User_Role_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SYS_Permission]  WITH CHECK ADD  CONSTRAINT [FK_SYS_Permission_SYS_PermissionCategory] FOREIGN KEY([PermissionCategoryID])
REFERENCES [dbo].[SYS_PermissionCategory] ([PermissionCategoryID])
GO
ALTER TABLE [dbo].[SYS_Permission] CHECK CONSTRAINT [FK_SYS_Permission_SYS_PermissionCategory]
GO
ALTER TABLE [dbo].[SYS_Permission]  WITH CHECK ADD  CONSTRAINT [FK_SYS_Permission_SYS_PermissionGroup] FOREIGN KEY([PermissionGroupID])
REFERENCES [dbo].[SYS_PermissionGroup] ([PermissionGroupID])
GO
ALTER TABLE [dbo].[SYS_Permission] CHECK CONSTRAINT [FK_SYS_Permission_SYS_PermissionGroup]
GO
ALTER TABLE [dbo].[SYS_Role_Permission]  WITH CHECK ADD  CONSTRAINT [FK_SYS_Role_Permission_SYS_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[SYS_Role] ([RoleID])
GO
ALTER TABLE [dbo].[SYS_Role_Permission] CHECK CONSTRAINT [FK_SYS_Role_Permission_SYS_Role]
GO
ALTER TABLE [dbo].[SYS_User]  WITH CHECK ADD  CONSTRAINT [FK_SYS_User_SYS_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[SYS_Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[SYS_User] CHECK CONSTRAINT [FK_SYS_User_SYS_Department]
GO
ALTER TABLE [dbo].[SYS_User_Role]  WITH CHECK ADD  CONSTRAINT [FK_SYS_User_Role_SYS_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[SYS_Role] ([RoleID])
GO
ALTER TABLE [dbo].[SYS_User_Role] CHECK CONSTRAINT [FK_SYS_User_Role_SYS_Role]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đơn vị, Tổ chức (tập đoàn)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'DataGroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên lớp' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'ClassName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên lớp viết tắc' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'ClassShortName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã qui chế đào tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'RegulationID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã chuyên ngành' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'SpecialBranchID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bậc đào tạo (Hệ đào tạo)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'TrainingLevelID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loại đào tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'TrainingType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã khóa học' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'CourseID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sỉ số lớp' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'ClassSize'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loại lớp: 0_Bình thường | 1_Ghép | 2_Tách | 3_Lớp học phần của tín chỉ (ko tồn tại lớp vật lý này)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'ClassType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nếu là lớp tách thì đây là mã môn học của lớp cha  mà nó được tách' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'ClassSubjectID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã môn được ghép, để truy xuất nhanh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'SubjectUsedID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày bắt đầu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'StartAt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày kết thúc' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'FinishAt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trạng thái đang học' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'IsActived'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã môn học theo chương trình đào tạo khung, khi lớp này là lớp logic của tín chỉ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'SpecialBranchSubjectID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giáo viên chủ nhiệm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'ManagerTeacherID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đang tuyển sinh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'IsCollecting'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Là lớp tín chỉ phải không?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'IsRegulation43'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tổng số tín chỉ (không bao gồm tín chỉ tốt nghiệp. dùng xét tư cách dự thi tốt nghiệp)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'UnitTextOfCourse'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Là lớp tạm, để chứa học sinh từ tuyển sinh, chưa phân ngành, để lên kế hoạch thu rùi thu tiền' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class', @level2type=N'COLUMN',@level2name=N'IsTempClass'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đơn vị, Tổ chức (tập đoàn)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'DataGroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Học kỳ: 1, 2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'Semester'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã niên học' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'YearID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã lớp' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'ClassID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã môn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'SubjectID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số tiết lý thuyết' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'TheoryQuantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số tiết thực hành' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'PracticeQuantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số giờ kiểm tra' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'TestQuantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Được dạy bởi giáo viên nào (Mã giáo viên)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'TeachingBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0: bình thường, 1: Đã bị ghép, 2: Đã bị tách,3: của lớp ghép, 4: của lớp tách' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'ClassSubjectStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kiểu ghép hoặc tách 0_bình thường hoặc ghép tách cả môn, 1_Chỉ LT, 2_ Chỉ TH. Ghép thì chỉ LT or both Tách thì chỉ TH or both' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'ClassSubjectStatusType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã lớp ghép sử dụng môn học lớp này' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'BigClassID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đã bị khóa, không cho nhập điểm quá trình' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'IsLockedMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đã bị khóa, không cho nhập điểm thi lần 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'IsLockedExam1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đã bị khóa, không cho nhập' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'IsLocked'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'CreatedUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày cập nhật cuối' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'UpdatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người cập nhật cuối' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'UpdatedUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID cuộc họp (conference_id in google event). Link html cuộc họp' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'MeetingLink'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Code cuộc họp (meeting_code in google event). Lấy từ Event qua, để phân biệt lịch thường hay lịch có họp online' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Class_Subject', @level2type=N'COLUMN',@level2name=N'MeetingCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đơn vị, Tổ chức (tập đoàn)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Course', @level2type=N'COLUMN',@level2name=N'DataGroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Năm bắt đầu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Course', @level2type=N'COLUMN',@level2name=N'StartYear'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Năm kết thúc' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Course', @level2type=N'COLUMN',@level2name=N'FinishYear'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đơn vị, Tổ chức (tập đoàn)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Science', @level2type=N'COLUMN',@level2name=N'DataGroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã khoa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Science', @level2type=N'COLUMN',@level2name=N'ScienceID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên khoa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Science', @level2type=N'COLUMN',@level2name=N'ScienceName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đơn vị, Tổ chức (tập đoàn)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Subject', @level2type=N'COLUMN',@level2name=N'DataGroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã môn học' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Subject', @level2type=N'COLUMN',@level2name=N'SubjectID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên môn học' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Subject', @level2type=N'COLUMN',@level2name=N'SubjectName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên môn viết tắc' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Subject', @level2type=N'COLUMN',@level2name=N'SubjectShortName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã bộ môn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Subject', @level2type=N'COLUMN',@level2name=N'SubjectGroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số tiết lý thuyết' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Subject', @level2type=N'COLUMN',@level2name=N'TheoryQuantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số tiết thực hành' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Subject', @level2type=N'COLUMN',@level2name=N'PracticeQuantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số giờ kiểm tra' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Subject', @level2type=N'COLUMN',@level2name=N'TestQuantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đơn vị, Tổ chức (tập đoàn)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_SubjectGroup', @level2type=N'COLUMN',@level2name=N'DataGroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã bộ môn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_SubjectGroup', @level2type=N'COLUMN',@level2name=N'SubjectGroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên bộ môn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_SubjectGroup', @level2type=N'COLUMN',@level2name=N'SubjectGroupName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã khoa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_SubjectGroup', @level2type=N'COLUMN',@level2name=N'ScienceID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đơn vị, Tổ chức (tập đoàn)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Teacher', @level2type=N'COLUMN',@level2name=N'DataGroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Họ và chữ đệm giáo viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Teacher', @level2type=N'COLUMN',@level2name=N'TeacherFirstName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên giáo viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Teacher', @level2type=N'COLUMN',@level2name=N'TeacherLastName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đơn vị, Tổ chức (tập đoàn)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Year', @level2type=N'COLUMN',@level2name=N'DataGroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã niên học' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Year', @level2type=N'COLUMN',@level2name=N'YearID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên niên học ví dụ 2010 - 2011' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Year', @level2type=N'COLUMN',@level2name=N'YearName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày bắt đầu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Year', @level2type=N'COLUMN',@level2name=N'StartAt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày kết thúc' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SIM_Year', @level2type=N'COLUMN',@level2name=N'FinishAt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Phải cấp kèm user - kho hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Permission', @level2type=N'COLUMN',@level2name=N'IsOfUserStore'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Phải cấp kèm user - ngành hàng . Trường này bật thì mới select vào user_category để chọn. Và ứng với quyền này thì phải kiểm tra quyền trên ngành hàng luôn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Permission', @level2type=N'COLUMN',@level2name=N'IsOfUserCategory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đã kích hoạt (Sẵn dùng)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Permission', @level2type=N'COLUMN',@level2name=N'IsActived'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Permission', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Permission', @level2type=N'COLUMN',@level2name=N'CreatedUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày cập nhật cuối' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Permission', @level2type=N'COLUMN',@level2name=N'UpdatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người cập nhật cuối' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Permission', @level2type=N'COLUMN',@level2name=N'UpdatedUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đã xóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Permission', @level2type=N'COLUMN',@level2name=N'IsDeleted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày xóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Permission', @level2type=N'COLUMN',@level2name=N'DeletedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người xóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Permission', @level2type=N'COLUMN',@level2name=N'DeletedUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Là dữ liệu mặc định' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_PermissionCategory', @level2type=N'COLUMN',@level2name=N'IsDefault'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đã kích hoạt (Sẵn dùng)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_PermissionCategory', @level2type=N'COLUMN',@level2name=N'IsActived'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_PermissionCategory', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_PermissionCategory', @level2type=N'COLUMN',@level2name=N'CreatedUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày cập nhật cuối' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_PermissionCategory', @level2type=N'COLUMN',@level2name=N'UpdatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người cập nhật cuối' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_PermissionCategory', @level2type=N'COLUMN',@level2name=N'UpdatedUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đã xóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_PermissionCategory', @level2type=N'COLUMN',@level2name=N'IsDeleted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày xóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_PermissionCategory', @level2type=N'COLUMN',@level2name=N'DeletedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người xóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_PermissionCategory', @level2type=N'COLUMN',@level2name=N'DeletedUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Là dữ liệu mặc định' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Role', @level2type=N'COLUMN',@level2name=N'IsDefault'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đã kích hoạt (Sẵn dùng)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Role', @level2type=N'COLUMN',@level2name=N'IsActived'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Role', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Role', @level2type=N'COLUMN',@level2name=N'CreatedUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày cập nhật cuối' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Role', @level2type=N'COLUMN',@level2name=N'UpdatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người cập nhật cuối' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Role', @level2type=N'COLUMN',@level2name=N'UpdatedUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đã xóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Role', @level2type=N'COLUMN',@level2name=N'IsDeleted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày xóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Role', @level2type=N'COLUMN',@level2name=N'DeletedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người xóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Role', @level2type=N'COLUMN',@level2name=N'DeletedUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Role_Permission', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_Role_Permission', @level2type=N'COLUMN',@level2name=N'CreatedUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giới tính (0: Nữ, 1: Nam)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'Gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày sinh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'BirthDay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày sinh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'BirthMonth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày sinh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'BirthYear'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày sinh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'BirthDateText'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Địa chỉ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Địa chỉ mail' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Điện thoại cố định' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'Tel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Điện thoại di động' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'Mobi'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số CMND' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'PersonID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày cấp' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'PersonIDDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nơi cấp' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'PersonIDPlace'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã số thuế CN' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'TaxCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số tài khoản ngân hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'BankAccountNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên ngân hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'BankAccountName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên ngân hàng (gồm địa chỉ chi nhánh nếu có)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'Bank'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vị trí, chức  vụ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'PositionID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người giới thiệu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'Presenter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người quản lý' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'Manager'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên ngân hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'RequestForgotDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên hình đại diện' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'Avatar'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã nút trên cây' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'DataGroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Là admin tập đoàn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'IsAdminOfDataGroup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Là người dùng hệ thống' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'IsSystemUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Là giáo viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'IsTeacher'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Là chuyên gia đánh giá' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'IsExpert'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Là sinh viên/học sinh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'IsStudent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mô tả' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đã kích hoạt (Sẵn dùng)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'IsActived'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'CreatedUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày cập nhật cuối' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'UpdatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người cập nhật cuối' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'UpdatedUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đã xóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'IsDeleted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày xóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'DeletedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người xóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User', @level2type=N'COLUMN',@level2name=N'DeletedUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User_Role', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_User_Role', @level2type=N'COLUMN',@level2name=N'CreatedUser'
GO
